<Configuration>
  <Properties>
    <!-- default values for lokal without config server -->
    <Property name="loglevel_root">warn</Property>
    <Property name="loglevel_de_postbank">debug</Property>
    <Property name="loglevel_fach">debug</Property>
    <Property name="loglevel_debug">debug</Property>
    <Property name="loglevel_betrieb">debug</Property>
    <Property name="loglevel_request">debug</Property>
    <Property name="loglevel_perf">debug</Property>
    <Property name="loglevel_soap_requests">debug</Property>
    <Property name="loglevel_soap_perf">debug</Property>
    <Property name="loglevel_sapadapter">debug</Property>
    <Property name="loglevel_backendadapter_sap_mappedrecord">debug</Property>
    <Property name="loglevel_sapadapter_perf">debug</Property>
    <Property name="logtarget_root">Console</Property>
    <Property name="logtarget_debug">Console</Property>
    <Property name="logtarget_de_postbank">Console</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DEFAULT} [%X{userId}|%X{clientId}-%X{request.x-fsl-routingid}|%X{sessionId}(%X{request.x-request-id})] [%X{method}|%X{requestURI}] %-5level %c %msg %ex%n"/>
    </Console>

    <RollingFile name="debug-plain" fileName="logs/debug.log" filePattern="logs/debug.log-%d{yyyy-MM-dd-HH}">
      <PatternLayout pattern="%d{DEFAULT} [%X{userId}|%X{clientId}-%X{request.x-fsl-routingid}|%X{sessionId}(%X{request.x-request-id})] [%X{method}|%X{requestURI}] %-5level %c %msg %ex%n"/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    
    <RollingFile name="debug-json" fileName="logs/debug.json" filePattern="logs/debug.json-%d{yyyy-MM-dd-HH}">
      <Fsl2JsonLayout/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>

    <RollingFile name="request-plain" fileName="logs/request.log" filePattern="logs/request.log-%d{yyyy-MM-dd-HH}">
      <PatternLayout pattern="%d{DEFAULT} [%X{userId}|%X{clientId}-%X{request.x-fsl-routingid}|%X{sessionId}(%X{request.x-request-id})] [%X{method}|%X{requestURI}|%X{queryString}|%X{status}] %-5level %c %msg %ex%n"/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    
    <RollingFile name="request-json" fileName="logs/request.json" filePattern="logs/request.json-%d{yyyy-MM-dd-HH}">
      <Fsl2JsonLayout/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>

    <RollingFile name="betrieb-plain" fileName="logs/betrieb.log" filePattern="logs/betrieb.log-%d{yyyy-MM-dd-HH}">
      <PatternLayout pattern="%d{DEFAULT} [%X{userId}|%X{clientId}-%X{request.x-fsl-routingid}|%X{sessionId}(%X{request.x-request-id})] [%X{method}|%X{requestURI}] %-5level %c %msg %ex%n"/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    
    <RollingFile name="betrieb-json" fileName="logs/betrieb.json" filePattern="logs/betrieb.json-%d{yyyy-MM-dd-HH}">
      <Fsl2JsonLayout/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>

    <RollingFile name="fach-plain" fileName="logs/fach.log" filePattern="logs/fach.log-%d{yyyy-MM-dd-HH}">
      <PatternLayout pattern="%d{DEFAULT} [%X{userId}|%X{clientId}-%X{request.x-fsl-routingid}|%X{sessionId}(%X{request.x-request-id})] [%X{method}|%X{requestURI}] %-5level %c %msg %ex%n"/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    
    <RollingFile name="fach-json" fileName="logs/fach.json" filePattern="logs/fach.json-%d{yyyy-MM-dd-HH}">
      <Fsl2JsonLayout/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    
    <RollingFile name="perf-plain" fileName="logs/perf.log" filePattern="logs/perf.log-%d{yyyy-MM-dd-HH}">
      <PatternLayout pattern="%d{DEFAULT} [%X{userId}|%X{clientId}-%X{request.x-fsl-routingid}|%X{sessionId}(%X{request.x-request-id})] [%X{method}|%X{requestURI}] %-5level %c %msg %ex%n"/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    
    <RollingFile name="perf-json" fileName="logs/perf.json" filePattern="logs/perf.json-%d{yyyy-MM-dd-HH}">
      <Fsl2JsonLayout/>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    
  </Appenders>
  
  <Loggers>
    <Root level="${env:loglevel_root}">
      <AppenderRef ref="${env:logtarget_root}"/>
      <AppenderRef ref="debug-json"/>
    </Root>
    <Logger name="de.postbank" level="${env:loglevel_de_postbank}" additivity="false">
      <AppenderRef ref="${env:logtarget_de_postbank}"/>
      <AppenderRef ref="debug-json"/>
    </Logger>
    
    <Logger name="debug" level="${env:loglevel_debug}" additivity="false">
      <AppenderRef ref="${env:logtarget_debug}"/>
      <AppenderRef ref="debug-json"/>
    </Logger>

    <Logger name="betrieb" level="${env:loglevel_betrieb}" additivity="false">
      <AppenderRef ref="betrieb-plain"/>
      <AppenderRef ref="betrieb-json"/>
    </Logger>

    <Logger name="request" level="${env:loglevel_request}" additivity="false">
      <AppenderRef ref="request-plain"/>
      <AppenderRef ref="request-json"/>
    </Logger>
    
    <Logger name="perf" level="${env:loglevel_perf}" additivity="false">
      <AppenderRef ref="perf-plain"/>
      <AppenderRef ref="perf-json"/>
    </Logger>
    
    <Logger name="fach" level="${env:loglevel_fach}" additivity="false">
      <AppenderRef ref="fach-plain"/>
      <AppenderRef ref="fach-json"/>
    </Logger>
    
    
  </Loggers>
</Configuration>
