<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Error Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <style>
        body{
            width: 720px;
            margin: 0 auto;
            margin-top:200px;
        }
        p {
            color: red;
        }
        span{
            color: black;
        }
    </style>
</head>
<body>
    <h1>Default Error Page</h1>
    <h3>This is the default error page.</h3>
    <p th:text="${reason}"></p>
    <p>Exception: <span th:text="${exception}"></span></p>
    <p>Url: <span th:text="${url}"></span></p>
</body>
</html>